:root {
    --background-color: #ececec;
}

body {
    background-color: var(--background-color);
    font-family: "Century Gothic", sans-serif;
    height:100%;
    min-width: 1000px;
    max-width: 2000px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 2fr 4fr 2fr 1fr;
    grid-template-rows: 40px 250px 40px 100px auto 1fr;
    grid-template-areas:
    ". . . . ."
    ". left-area-upper header right-area-upper ."
    ". . . . ."
    "middle middle middle middle middle"
    ". content content content ."
    ". footer footer footer ."
}

@media (max-width: 1000px) {
    body {
        min-width: 100%;
        max-width: unset;
        height: unset;
        grid-template-columns: 2fr 2fr;
        grid-template-rows: 40px 250px 40px 600px 40px 100px 1fr;
        grid-template-areas:
        ". ."
        "header header"
        ". ."
        "left-area-upper left-area-upper"
        ". ."
        "middle middle"
        "content content"
        "footer footer";
    }

    #header {
        font-size: 5rem!important;
        box-shadow: none!important;
        border-radius: 0!important;
    }
    #right-area-upper {
        display: none;
    }
    #content {
        border-radius: 0px!important;
    }

}
#header {
    border-radius: 10px;
    grid-area: header;
    color: #000000;
    font-size: 3.6rem;
    text-align: center;
    position: relative;
    margin: auto;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background:
            -webkit-linear-gradient(var(--background-color), rgba(135, 60, 255, 0.0) 0%),
    -webkit-linear-gradient(-45deg, var(--background-color) 50%, rgb(0, 40, 40) 0%);
    box-shadow: gray 2px 2px 5px;
}

#main {
    grid-area: main;
    /*background-color: #fdfdfd;*/
    text-align: center;
}

#middle {
    grid-area: middle;
    text-align: center;
}

#left-area-upper {
    grid-area: left-area-upper;
    /*background-color: #fdfdfd;*/
    text-align: center;
}


#right-area-upper {
    font-size: 1.5em;
    grid-area: right-area-upper;
    /*background-color: #fdfdfd;*/
    text-align: center;
}
#content{
    grid-area: content;
    border-radius: 2px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #002828;
    margin-top: 40px;
    /*background-color: #fdfdfd;*/
}

#footer {
    grid-area: footer;
    /*background-color: #ffffff;*/
    text-align: center;
}